$font: "Roboto", system-ui, sans-serif;

:global .t1 {
  font: 400 16px / 150% $font;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

:global .t2 {
  font: 400 12px / 150% $font;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
  }
}
